* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #aeb6b6;
  color: #212121;
  line-height: 1.5;
}

#search-box {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
}
.country-list {
}
.country-list__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.country-list__title {
  font-size: 20px;
  font-weight: 600;
  margin-left: 22px;
}
.country-info {
}

.country-info__block {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.hidden {
  display: none;
}
